/* flash cards */

.flashCardFlexContainer {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	margin: 0 auto;
	margin-bottom: 25px;
	/* background-color: bisque; */
	width: 80%;
	column-gap: 15px;
}

.flashCardFlexContainer::after {
	content: "";
	width: 125px;
}

.flashCardContainer {
	display: flex;
	flex-flow: column;
	/* background-color: salmon; */
}

.flashCard {
	height: 125px;
	width: 125px;
	background-color: transparent;
	perspective: 1000px;
	margin: 7.5px 0;
	cursor: pointer;
}

.flashCard-flip {
	.flashCardInner {
		transform: rotateY(180deg);
	}
}

.flashCardInner {
	border-radius: 10px;
	position: relative;
	height: 100%;
	width: 100%;
	text-align: center;
	transition: transform 0.85s;
	transform-style: preserve-3d;
}

.flash-card-English,
.flash-card-TL {
	display: flex;
	border-radius: 10px;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}

.flash-card-English {
	background-color: rgb(0, 0, 115);
}

.flash-card-TL {
	background-color: rgb(230, 110, 0);
	transform: rotateY(180deg);
}

.flash-card-TL p {
	color: white;
	margin: 0 auto;
	font-size: 20px;
}

.flash-card-English p {
	color: white;
	margin: 0 auto;
	font-size: 20px;
}

/* Add Card */

.newWord {
	display: flex;
	justify-content: center;
	background-color: rgb(180, 180, 180);
	width: 75%;
	max-width: 300px;
	margin: 0 auto;
	margin-bottom: 25px;
	padding: 5px;
	flex-direction: column;
	border-radius: 5px;
	color: white;
}

.newWord form {
	margin: 10px;
}

.newWord h3 {
	margin-top: 5px;
	text-align: center;
}

.newWord label {
	display: block;
	font-size: 15px;
}

.newWord input {
	margin-bottom: 7.5px;
	font-size: 12.5px;
	width: 100%;
	border: none;
	height: 17.5px;
	color: rgb(100, 100, 100);
	padding-left: 5px;
}

.newWord button {
	padding: 5px 10px;
	border-radius: 7.5px;
	border: none;
	font-size: 12.5px;
	background-color: rgb(160, 160, 160);
	color: white;
	display: block;
	margin: 0 auto;
	margin-top: 5px;
}

.edit-cards {
	display: flex;
	flex-direction: row;
	justify-content: center;
	column-gap: 5px;
}

.deleteButton,
.editButton {
	padding: 5px 10px;
	border-radius: 7.5px;
	border: none;
	font-size: 12.5px;
	background-color: rgb(180, 180, 180);
	color: white;
}

.welcome {
	text-align: center;
	margin: 25px 0;
	color: rgb(160, 160, 160);
	font-size: 15px;
}

.loading {
	text-align: center;
	margin: 50px auto;
	color: rgb(160, 160, 160);
	font-size: 20px;
	border: double rgb(0, 0, 115) 5px;
	border-radius: 10px;
	width: 55%;
	max-width: 300px;
	padding: 5px 10px;
}

/* desktop */

@media screen and (min-width: 768px) {
	.flashCardFlexContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: row wrap;
		margin: 0 auto;
		margin-bottom: 25px;
		column-gap: 15px;
		/* background-color: bisque; */
	}

	.flashCardFlexContainer::after {
		content: none;
	}

	.flashCardContainer {
		display: flex;
		flex-flow: column;
		/* background-color: salmon; */
		margin: 5px 0;
	}

	.flashCard {
		height: 150px;
		width: 150px;
		background-color: transparent;
		perspective: 1000px;
		margin: 7.5px 0;
		cursor: pointer;
	}

	.flashCardInner {
		border-radius: 10px;
		position: relative;
		height: 100%;
		width: 100%;
		text-align: center;
		transition: transform 0.85s;
		transform-style: preserve-3d;
	}

	.flash-card-English,
	.flash-card-TL {
		display: flex;
		border-radius: 10px;
		align-items: center;
		position: absolute;
		width: 100%;
		height: 100%;
		-webkit-backface-visibility: hidden; /* Safari */
		backface-visibility: hidden;
	}

	.flash-card-English {
		background-color: rgb(0, 0, 115);
	}

	.flash-card-TL {
		background-color: rgb(230, 110, 0);
		transform: rotateY(180deg);
	}

	.flash-card-TL p {
		color: white;
		margin: 0 auto;
		font-size: 25px;
	}

	.flash-card-English p {
		color: white;
		margin: 0 auto;
		font-size: 25px;
	}

	.deleteButton,
	.editButton {
		padding: 6px 15px;
		border-radius: 7.5px;
		border: none;
		font-size: 15px;
		background-color: rgb(180, 180, 180);
		color: white;
		cursor: pointer;
	}

	.newWord {
		display: flex;
		justify-content: center;
		background-color: rgb(180, 180, 180);
		width: 375px;
		max-width: none;
		margin: 0 auto;
		margin-bottom: 25px;
		padding: 5px;
		flex-direction: column;
		border-radius: 5px;
		color: white;
		font-size: 22.5px;
	}

	.newWord form {
		margin: 10px;
	}

	.newWord h3 {
		margin-top: 5px;
		text-align: center;
	}

	.newWord label {
		display: block;
		font-size: 17.5px;
	}

	.newWord input {
		margin-bottom: 7.5px;
		font-size: 15px;
		width: 100%;
		border: none;
		height: 17.5px;
		color: rgb(100, 100, 100);
		padding-left: 5px;
	}

	.newWord button {
		padding: 5px 10px;
		border-radius: 7.5px;
		border: none;
		font-size: 15px;
		background-color: rgb(160, 160, 160);
		color: white;
		display: block;
		margin: 0 auto;
		margin-top: 5px;
		cursor: pointer;
	}

	.welcome {
		text-align: center;
		margin: 25px 0;
		color: rgb(160, 160, 160);
		font-size: 22.5px;
	}
}

@media screen and (min-width: 1025px) {
	.flashCard:hover .flashCardInner {
		transform: rotateY(180deg);
	}
}
