/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* GRID SETUP */

.container {
	height: 100dvh;
	width: 100vw;
	display: grid;
	grid-template-rows: 45px 1fr;
}

.header {
	border-bottom: black§ 1px solid;
}
.body {
	display: grid;
	grid-template-columns: 1fr;
	overflow: hidden;
	/* background-color: gold; */
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* background-color: blue; */
	overflow-y: scroll;
}

.footer {
	background-color: rgb(0, 0, 0);
	min-height: 25px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
/* .sidebar {
	background-color: red;
	border-right: 1px solid rgba(0, 0, 0, 0.5);
} */

.footer p {
	color: white;
	margin-left: 10px;
}

/* HEADER & NAVBAR */

.header nav {
	width: 100%;
	height: 45px;
	margin: 0;
	background-color: rgb(0, 0, 0);
}

.header .pageName {
	height: 40px;
}

h1,
h2 {
	text-align: center;
}

h2 {
	margin-top: 10px;
}

h1 {
	margin: 0;
	padding: 5px 0;
	color: rgb(0, 0, 115);
}

h3 {
	text-align: center;
	margin: 2.5px 0;
}

.header nav ul {
	display: flex;
	justify-content: flex-start;
	margin: 0;
	height: 100%;
	padding: 0;
}

ul {
	list-style: none;
}

.header nav ul li {
	padding: 0 10px;
	margin: auto 0;
	font-size: 15px;
	color: white;
}

.header nav ul li a {
	color: white;
	text-decoration: none;
}

/* flassh cards */

.flashCardFlexContainer {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	margin: 0 auto;
	background-color: bisque;
	width: 80%;
	column-gap: 5px;
}

.flashCardFlexContainer::after {
	content: "";
	width: 125px;
}

.flashCardContainer {
	display: flex;
	flex-flow: column;
	/* background-color: salmon; */
}

.flashCard {
	height: 125px;
	width: 125px;
	background-color: transparent;
	perspective: 1000px;
	margin: 2.5px 0;
	cursor: pointer;
}

.flashCard-flip {
	.flashCardInner {
		transform: rotateY(180deg);
	}
}

.flashCardInner {
	border-radius: 10px;
	position: relative;
	height: 100%;
	width: 100%;
	background-color: teal;
	text-align: center;
	transition: transform 1s;
	transform-style: preserve-3d;
}

/* @media (pointer: fine) {
	.flashCard:hover .flashCardInner {
		transform: rotateY(180deg);
	}
} */

.flash-card-TL,
.flash-card-English {
	display: flex;
	border-radius: 10px;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}

.flash-card-TL {
	background-color: blue;
}

.flash-card-English {
	background-color: olive;
	transform: rotateY(180deg);
}

.flashCard p {
	color: white;
	margin: 0 auto;
	font-size: 20px;
}

.newWord {
	display: flex;
	justify-content: center;
	background-color: ghostwhite;
	width: 350px;
	margin: 0 auto;
	flex-direction: column;
	border: 1px black solid;
	border-radius: 5px;
}

div form {
	margin: 10px;
}

label {
	display: block;
}

input {
	margin-bottom: 5px;
}

button {
	margin: 0 auto;
	display: block;
	padding: 1px;
	width: 100px;
}

.deleteButton {
	width: 75px;
}

.editCards {
	width: 200px;
	border: 1px solid black;
	margin: 5px auto;
	padding: 5px;
	cursor: pointer;
	text-align: center;
}

.editCards:hover {
	background-color: blue;
	color: white;
}

a {
	text-decoration: none;
	color: black;
}

/* siderbar */

/* .nav-sidebar {
	background-color: beige;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.sidebar-title {
	height: 10%;
	border-bottom: 1px black solid;
}

.sidebar-list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 90%;
	background-color: aqua;
}

.sidebar-list li {
	margin-bottom: 25px;
} */
