/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* GRID SETUP */

.container {
	height: 100dvh;
	width: 100vw;
	display: grid;
	grid-template-rows: 75px 1fr 25px;
}

.header {
	border-bottom: black 1px solid;
}
.body {
	display: grid;
	grid-template-rows: 1fr;
	overflow: hidden;
	/* background-color: gold; */
}

.content {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 200px 1fr;
	overflow: hidden;
	/* background-color: blue; */
	overflow-y: scroll;
}

.sidebar {
	/* background-color: red; */
	border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.footer {
	background-color: rgb(0, 0, 115);
	min-height: 25px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.footer p {
	color: white;
	margin-left: 10px;
}

/* HEADER & NAVBAR */

.header nav {
	border-top: solid rgb(0, 0, 115) 1px;
	width: 100%;
	height: 35px;
	margin: 0;
	background-color: rgb(0, 0, 115);
}

.header .pageName {
	height: 40px;
}

h1,
h2 {
	text-align: center;
}

h2 {
	margin-top: 10px;
}

h1 {
	margin: 0;
	padding: 5px 0;
	color: rgb(0, 0, 115);
}

h3 {
	text-align: center;
	margin: 2.5px 0;
}

.header nav ul {
	display: flex;
	justify-content: flex-start;
	margin: 0;
	height: 100%;
	padding: 0;
}

ul {
	list-style: none;
}

.header nav ul li {
	padding: 0 10px;
	margin: auto 0;
	font-size: 15px;
	color: white;
}

.header nav ul li a {
	color: white;
	text-decoration: none;
}

/* flassh cards */

.flashCardContainer {
	display: flex;
	justify-content: flex-start;
	flex-flow: wrap;
	margin: 50px auto;
	/* background-color: bisque; */
	width: 1035px;
	column-gap: 5px;
}

.flashCardContainer::after {
	content: "";
	width: 65%;
}

.flashCard {
	height: 125px;
	width: 125px;
	background-color: transparent;
	perspective: 1000px;
	margin: 2.5px 0;
	cursor: pointer;
}

.flashCardInner {
	border-radius: 10px;
	position: relative;
	height: 100%;
	width: 100%;
	background-color: teal;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.flashCard:hover .flashCardInner {
	transform: rotateY(180deg);
}

.flash-card-TL,
.flash-card-English {
	display: flex;
	border-radius: 10px;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}

.flash-card-TL {
	background-color: blue;
}

.flash-card-English {
	background-color: olive;
	transform: rotateY(180deg);
}

.flashCard p {
	color: white;
	margin: 0 auto;
	font-size: 20px;
}

.newWord {
	display: flex;
	justify-content: center;
	background-color: ghostwhite;
	width: 350px;
	margin: 0 auto;
	flex-direction: column;
	border: 1px black solid;
	border-radius: 5px;
}

div form {
	margin: 10px;
}

label {
	display: block;
}

input {
	margin-bottom: 5px;
}

button {
	margin: 0 auto;
	display: block;
	padding: 1px;
	width: 100px;
}
